@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #be2f2f;
}
.box {
    width: 200px;
    height: 200px;
    background-color: green;
    padding: 20px;
    text-align: center;
}
.box h2{
    color: #fff;
}
i{
    font-size: 30px;
}