.boxxB{
    background-color: #eee;
    .txtbbox{
        margin: 200px auto;
        background-color: blue;
        padding: 30px;
        width: 300px;
        height: 300px;
        h2{
            font-size: 33px;
            color: #fff;
        }
    }

}